/* Der Kartencontainer */
#map-container {
    width: 80%;
    height: 600px;
    position: relative;
}

/* Die Karte */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #faf5e5;
}

/* Der Zurück-Knopf */
#return-button {
    position: absolute;
    z-index: 500;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    display: none;
    font-size: 40px;
}

#select-all {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 8px;
    background-color: #fffa;
    border-top-right-radius: 10px;
    user-select: none;
}

#select-all input {
    display: inline-block;
    margin-right: 10px;
}

/* Die Beschriftungen der Landkreise auf Übersichtskarte */
.tooltip {
    background-color: #fff8;
    border: none;
    box-shadow: none;
    color: #000;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 3px;
}

/* Popup Schriftart */
.leaflet-popup-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}