/* Der Kartencontainer */
#map-container {
    width: 100%;
    height: 750px;
    position: relative;
}

/* Die Karte */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #faf5e5;
}

/* Der Zurück-Knopf */
#return-button {
    position: absolute;
    z-index: 500;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 50px;
    cursor: pointer;
    display: none;
    font-size: 40px;
}

#select-all, #selectLks, #selectKrs {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    padding: 8px;
    background-color: #fffa;
    border-top-right-radius: 10px;
    user-select: none;
}

#select-all input {
    display: inline-block;
    margin-right: 10px;
}

#selectLks {
    left: 300px;
}

#selectKrs {
    left: 450px;
}

/* Die Beschriftungen der Landkreise auf Übersichtskarte */
.tooltip {
    background: none;
    border: none;
    box-shadow: none;
    color: #000;
    font-size: 12px;
    font-weight: 900;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Popup Schriftart */
.leaflet-popup-content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.tooltipLKG {
    margin-left: 3vw;
}

.tooltipLKN {
    margin-top: -3vw;
}

.tooltipKRMSO {
    margin: 8vw 0 0 4vw;
}

.tooltipKRME {
    margin-left: 7vw;
}

.tooltipKRL {
    margin-left: 4vw;
}

.markercontent {
    display: flex;
}

.content-text {
    margin-right: 5px;
}

.content-img {
    width: 64px;
    height: 64px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* #search {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 500;
    padding: 10px 15px;
    border: 2px solid #aaa;
    border-radius: 20px;
}

#search input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    font-size: 16px;
    display: inline-block;
    width: 250px;
}

#search span {
    display: inline-block;
    border: 3px solid #aaa;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    cursor: pointer;
}

#search span::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 10px;
    background-color: #aaa;
    transform: rotate(45deg) translate(2px, 9px);
} */